/* Questions.css */
.quiz-container {
    width: 80%;
    margin: auto;
  }
  
  .quiz-title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .question-container {
    margin-bottom: 2em;
  }
  
  .question {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  
  .options {
    margin-bottom: 1em;
  }
  
  .option {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .submit-btn, .prev-btn, .next-btn {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-btn {
    width: 100px;
    background-color: rgb(35, 87, 140)
    
  }
  
  .submit-btn:hover {
    background-color:rgb(35, 87, 200);
  }
  
  .prev-btn:hover, .next-btn:hover {
    background-color: rgb(35, 87, 140);
  }
  
  .prev-btn:disabled, .next-btn:disabled {
    background-color: rgb(35, 87, 100);
    cursor: not-allowed;
  }
  
  .result-container {
    text-align: center;
  }
  .navigation-buttons{
    display: flex;
    justify-content: space-between;
  }
  .submit-btn {
    width: 100px;
  }
  .option.selected {
    background-color: #e0f7fa;
    border-color: #00796b;
  }
  