.hero {
  position: relative;
  height: calc(100vh - 66px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 0;
}

.hero-heading {
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  color: #4A566F;
}

.hero__boring-text {
  font-weight: 800;
  background: rgb(211,211,211);
  background: linear-gradient(150deg, rgba(211,211,211,1) 0%, rgba(111,111,111,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__gradient-text {
  font-weight: 800;
  background: rgb(251,185,108);
background: linear-gradient(290deg, rgb(44, 173, 238) 0%, rgba(0,106,209,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 24px;
  margin: 20px 0 40px 0;
}

.homepage {
  position: relative;
  color: white;
  z-index: 1;
  margin: 0;
}

.features, .about {
  padding: 60px 0;
  margin: 0;
  text-align: center;
}

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  max-width: 1200px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.about h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(9, 59, 84);
  max-width: 1200px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-primary {
  background: rgb(35, 87, 140);
  
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: rgb(1, 9, 19);
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  color: rgb(35, 87, 140);
  border: 2px solid rgb(35, 87, 140);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
  background-color: rgb(1, 9, 19);
  color: #fff;
}

.t {
  color: rgb(35, 87, 140);
}
.homepage{
  background-color: rgba(255,255 ,255 , 5);
}