  .editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  .text-area {
    width: 100%;
    max-width: 800px;
    height: 450px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f4f4f9;
    color: #272727;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    resize: none;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .text-area:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
  }
  
  .submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  .upload-heading {
    color: rgb(35, 87, 140);
    font-weight: 700;
    margin-bottom: 20px;
  }