:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #747474;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
select,
textarea {
  border: 1px solid #555;
  padding: 10px;
  border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #1e90ff;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
