.quiz-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .question-container {
    margin-top: 20px;
  }
  
  .question {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #444;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
    color: #333;
  }
  
  .option input {
    margin-right: 10px;
  }
  
  .option:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
    border-color: #aaa;
  }
  
  .option.selected {
    background-color: #e0f7fa;
    border-color: #00796b;
  }
  
  .submit-btn, .prev-btn, .next-btn {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: rgb(35, 87, 140);
  }
  
  .submit-btn:hover {
    background-color: rgb(35, 87, 200);
  }
  
  .prev-btn:hover, .next-btn:hover {
    background-color: rgb(35, 87, 140);
  }
  
  .prev-btn:disabled, .next-btn:disabled {
    background-color: rgb(35, 87, 100);
    cursor: not-allowed;
  }
  
  .result-container {
    text-align: center;
  }
  